<h1>Список постів</h1>


<%#= @posts %>

<%#= @posts[0].title %>

<!--<ul>-->
<!--  <li> Post 1</li>-->
<!--  <li> Post 2</li>-->
<!--  <li> Post 3</li>-->
<!--</ul>-->

<ul>
  <% @posts.each do |post| %>
<!--    <li>-->
<!--      <a href="/posts/<%#= post.id %>">-->
        <%#= post.title %>
<!--      </a>-->
<!--    </li>-->
    <li>
      <%#= link_to(post.title, post_path(post.id)) %>
      <a href="<%= post_path(post.id) %>" class="text-red">
        <%= post.title %>
      </a>
    </li>
  <% end %>
</ul>


<%= link_to("Пост з ІД 1", "/posts/1", class: "text-red") %>

